body {
    background: url('fundo_jogo.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1, h2, p {
    color: #f1f1f1;
    text-shadow: 1px 1px 2px #000;
    text-align: center;
}

#start-container, #quiz-container {
    background: linear-gradient(90deg, #ea04f1, #800379);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #e6c50a;
    color: rgb(3, 3, 3);
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background-color: #fce308;
}

#next-btn {
    margin-top: 20px;
    font-size: 18px;
    background-color: #430350;
    color: aliceblue;
}

#next-btn:hover {
    background-color: #d868cf;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #f1f1f146;
    padding: 10px 0;
    font-size: 14px;
    color: #050505;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.hide {
    display: none;
}

.btn.correct {
    background-color: #4CAF50 !important; /* verde */
    color: white;
}

.btn.wrong {
    background-color: #f44336 !important; /* vermelho */
    color: white;
}
